.current-title{
  display: block;
  font-weight: bold;
  /* text-align:center; */
  color: #0d3b66;
  /* background-color: #7971e8; */
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px; /* 添加内边距 */
  margin-left: 30px;
  margin-bottom: -10px;
  opacity: 0.6;
  max-width: 600px; /* 设置标题的最大宽度 */
  text-decoration: none;
  }

.abstract{
  /* text-align: center; */
  color: #096494!important;
  display: block;
  font-size: 15px;
  margin-top: -20px;
  margin-left: 30px;
  padding: 10px;
  font-style:oblique;
  font-family: "SimHei", Times, serif;
  opacity: 0.6;
  font-weight: bold;
}

.center-title{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 10px; /* 添加内边距 */
  margin: 10px auto; /* 设置标题的水平居中和上下边距 */
  max-width: 600px; /* 设置标题的最大宽度 */
  }

  .article-content {
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: #ffffff;
    /* 其他字体样式设置 */
  }
  

  .centered-heading {
    text-align: center;
}